        <div class="row type">
            <label for="type"><h3>Permit type</h3></label>
            <select class="span4" name="type" <%= loggedIn ? '' : 'disabled' %>>
                <% var permitTypes = [['impact', 'Impact'], ['mitigation', 'Mitigation'], ['restoration', 'Restoration'], ['other', 'Other']] %>
                <% _.each(permitTypes, function(permitType) { %>
                <option name="type" value="<%= permitType[0] %>" <%= application.get('type') == permitType[0] ? 'selected' : '' %>>
                    <%= permitType[1] %>
                </option>
                <% }) %>
            </select>
        </div>
        <div class="documents row">
            <h3>Documents</h3>
            <ul>
                <li class="public_notice">
                    <a href="http://www.mvn.usace.army.mil/ops/regulatory/<%= application.get('publicNoticeUrl') %>">Public Notice</a>
                    (<a href="/documents/<%= application.get('permitApplicationNumber') %>/public_notice.pdf">mirror</a>)
                </li>
                <li class="drawings">
                    <a href="http://www.mvn.usace.army.mil/ops/regulatory/<%= application.get('drawingsUrl') %>">Drawings</a>
                    (<a href="/documents/<%= application.get('permitApplicationNumber') %>/drawings.pdf">mirror</a>)
                </li>
                <!-- <li><a href="" class="deq">DEQ</a></li> -->
                <% if (application.get('CUP')) { %>
                <li><a href="http://ucmwww.dnr.state.la.us/ucmsearch/FindDocuments.aspx?idx=xrefnum&val=<%= application.get('CUP')%>" class="dnr">Department of Natural Resources (DNR)</a></li>
                <li><a href="http://sonris-www.dnr.state.la.us/sundown/cart_prod/pkg_crm00100_forms.cart_menu?pcup_num=<%= application.get('CUP')%>" class="dnr">Automated Permit Process (also DNR)</a></li>
                <% } %>
            </ul>
        </div>
        <div class="acreage row">
            <h3>How big?</h3>
            <label for="characterOfWork" <%= loggedIn ? '' : 'readonly' %>>Description</label>
            <textarea class="span4" rows="6" name="characterOfWork" <%= loggedIn ? '' : 'readonly' %>><%= application.get('characterOfWork') %></textarea>
            <label for="acreage">Acreage</label>
            <input class="span4" type="number" name="acreage" value="<%= application.get('acreage') %>" <%= loggedIn ? '' : 'readonly' %>
                min="0" max="10000" step="0.1" /><!-- Is that the right range and precision? -->
        </div>
        <div class="where row">
            <h3>Where?</h3>
            <label for="parish">Parish</label>
            <select class="span4" name="parish" <%= loggedIn ? '' : 'disabled' %>>
                <% _.each(parishes, function(parish) { %>
                <option <%= application.get('parish') == parish[0] ? 'selected' : '' %> value="<%= parish[0] %>" >
                    <%= parish[1] %>
                </option>
                <% }) %>
                <option value="" <%= application.get('parish') == '' ? 'selected' : '' %>>
                    Other/multiple/none
                </option>
            </select>
            <label for="abstactLocation">Location</label>
            <textarea class="span4" rows="6" name="locationOfWork" <%= loggedIn ? '' : 'readonly' %>><%= application.get('locationOfWork') %></textarea>
            <label for="latitude">Latitude</label>
            <input class="span4" type="number" name="latitude" value="<%= application.get('latitude') %>" <%= loggedIn ? '' : 'readonly' %>
                min="25" max="35" step="0.00000001" /><!-- Is that the right range and precision? -->
            <label for="longitude">Longitude</label>
            <input class="span4" type="number" name="longitude" value="<%= application.get('longitude') %>" <%= loggedIn ? '' : 'readonly' %>
                min="25" max="35" step="0.00000001" /><!-- Is that the right range and precision? -->
        </div>
        <div class="notes row">
            <fieldset>
                <h3><label for="notes"><h3>Notes</h3></label></h3>
                <textarea class="span4" rows="6" name="notes" <%= loggedIn ? '' : 'readonly' %>><%= application.get('notes') %></textarea>
            </fieldset>
        </div>

