<div class="row">
    <div class="span1">
        <p style="font-weight: bold; text-align: center; font-size: 50px; height: 60px; line-height: 60px; margin-top: 0.3em; background-color: #DDD; border-radius: 5px;"
           id="flagged" class="<%= application.get('flagged') == '1' ? 'text-error' : 'muted' %>">!</p>
    </div>
    <div class="span11">
        <h2><%= application.get('projectDescription') %></h2>
    </div>
</div>
<div id="status"></div>
<div class="row" id="body"></div>
<div class="row" id="bottom"></div>
