<hgroup>
    <h2><%= application.get('projectDescription') %></h2>
    <p><%= application.get('permitApplicationNumber') %></p>
</hgroup>
<div class="identifiers">
    <h3>Identity numbers</h3>
    <label for="permitApplicationNumber">Permit Application Number</label>
    <input type="text" name="permitApplicationNumber" value="<%= application.get('permitApplicationNumber') %>" readonly />
    <label for="CUP">CUP</label>
    <input type="text" name="CUP" value="<%= application.get('CUP') %>" />
    <label for="WQC">WQC</label>
    <input type="text" name="WQC" value="<%= application.get('WQC') %>" />
</div>
<div class="projectManager">
    <h3>Project Manager</h3>
    <label for="projectManagerName">Name</label>
    <input type="text" name="projectManagerName" value="<%= application.get('projectManagerName') %>" />
    <label for="projectManagerPhone">Phone</label>
    <input type="text" name="projectManagerPhone" value="<%= application.get('projectManagerPhone') %>" />
    <label for="projectManagerEmail">Email</label>
    <input type="text" name="projectManagerEmail" value="<%= application.get('projectManagerEmail') %>" />
</div>
<div class="documents">
    <h3>Documents</h3>
    <a href="#" class="public_notice">Public Notice</a>
    <a href="#" class="drawings">Drawings</a>
    <a href="#" class="deq">DEQ</a>
    <a href="#" class="dnr">DNR</a>
</div>
<div class="notes">
    <label for="notes">Notes</label>
    <input type="text" name="notes" value="<%= application.get('notes') %>" />
</div>
<div class="coordinates">
    <label for="abstactLocation">Location</label>
    <textarea name="abstractLocation"><%= application.get('abstractLocation') %></textarea>
    <div id="map" class="map" style="width: 480px; height: 320px; background-color: black; color: white;">Map here</div>
    <p>Click the map to mark the proposed development.</p>
</div>
<div class="acreage">
    <label for="abstractDescription">Description</label>
    <textarea name="abstractDescription"><%= application.get('abstractDescription') %></textarea>
    <label for="acreage">Acreage</label>
    <input type="text" name="acreage" value="<%= application.get('acreage') %>" />
</div>
