<div class="row">
    <div class="span8 offset2">
        <div class="row">
            <input name="status" type="range" min="1" max="5" step="1" style="width: 100%;" value="<%= application.get('status') %>" <%= loggedIn ? '' : 'disabled' %>/>
        </div>
    </div>
</div>
<div class="row">
    <div class="span10 offset1">
        <div class="row">
            <p class="checkpoint">To read</p>
            <p class="checkpoint">To comment</p>
            <p class="checkpoint">To FOI</p>
            <p class="checkpoint">Waiting</p>
            <p class="checkpoint">Done</p>
        </div>
    </div>
</div>
<div class="row">
    <% if (application.get('status') == '4') { %>
    <div class="span2 offset7"> 
        <div class="row" style="text-align: center;">
            <label for="reminderDate"><abbr title="This application will be linked from the home page on and after this date.">until</label>
            <input type="date" class="input-small" name="reminderDate" value ="<%= reminderDate %>" <%= loggedIn ? '' : 'readonly' %> />
        </div>
    </div>
    <% } %>
</div>
