[submodule "listings"]
	path = listings
	url = git@github.com:tlevine/scott-listings.git
[submodule "documents"]
	path = documents
	url = git@github.com:tlevine/scott-documents.git
[submodule "reader/wsync"]
	path = reader/wsync
	url = git@github.com:tlevine/wsync.git
