@import url("bootstrap.css");

input[type=text],
input[type=tel],
input[type=email],
input[type=number],
input[type=date],
select {
  width: 100%;
}

.status label, .type label {
  display: inline;
}

.identifiers .row, .projectManager .row {
  height: 4em;
}

textarea {
  width: 100%;
}

.checkpoint {
    float: left;
    margin: 0;
    padding: 0;
    width: 20%;
    text-align: center;
}
