<div class="span12">
    <h3>Permit Applications</h3>
    <table class="table table-hover">
        <thead>
            <th class="projectDescription span6">Description</th>
            <th class="type span2">Type <a class="btn btn-mini sort" href="#type"><i class="icon-chevron-up"></i></a></th>
            <th class="acreage span2">Acreage <a class="btn btn-mini sort" href="#acreage"><i class="icon-chevron-up"></i></a></th>
            <th class="expirationDate span2">Expiration <a class="btn btn-mini sort" href="#date"><i class="icon-chevron-up"></i></a></th>
        </thead>
        <tbody>
            <% _.each(applications, function(application){ %>
            <%= record_template({ application: application }) %>
            <% }); %>
        </tbody>
    </table>
</div>
