<div class="span12">
    <h3>Permit Applications</h3>
    <table class="table table-hover">
        <thead>
            <th class="projectDescription span6">Description</th>
            <th class="type span2">Type</th>
            <th class="acreage span2">Acreage</th>
            <th class="expirationDate span2">Expiration</th>
        </thead>
        <tbody>
            <% _.each(applications, function(application){ %>
            <%= record_template({ application: application }) %>
            <% }); %>
        </tbody>
    </table>
</div>
