<div class="span12">
    <h2>Acreages of permit applications</h2>
    <div id="map" style="height: 400px;"></div>
    <p class="pull-right">Each dot is a permit application. The area is 100 times the actual area.</p>

    <h2>How to use this site</h2>
    <p>Scott Eustis and Thomas Levine are the main persons who enter data into the site. Everyone can view this entire site and see how the process works, but you need to be logged in to enter data.</p>
    <p>Changes to the data are sent to the server right away. If you aren't sure whether something has been saved, reload the page and check that it matches your expectations.</p>
</div>
