<div class="span12">
    <h2>Acreages of permit applications</h2>
    <div id="map" style="height: 400px;"></div>
    <p>Impacted acres by parish; grey means no impacted acres, and red means many impacted acres.</p>
    <div id="barplot" style="height: 250px;">
      <div class="tick" style="top: 200px;"><div class="line"></div><span style="color: rgba(255,255,255,0);">0</span>500 acres</div>
      <div class="tick" style="top: 150px;"><div class="line"></div>1000 acres</div>
      <div class="tick" style="top: 50px;"><div class="line"></div>2000 acres</div>
    </div>
    <p>Acreages of individual impact permits (Click on a bar for more information.)</p>

    <h2>About the site</h2>
    <p>
        Scott helps <a href="http://healthygulf.org/who-we-are/staff/">Scott</a> protect the wetlands from
        <a href="http://healthygulf.org/our-work/wetlands/wetland-destruction-permits">reckless distruction</a>
        by streamlining the process by which he identifies unwise developments and advocates against them.
    </p>
    <p>
        This site is designed primarily for Scott's use, so we have ignored considerations like cross-browser compatibility.
        We intend only that the website work in Chrome, at least for now.
    </p>
    <p>
        We've also ignored usability for anyone other than Scott.
        That said, if you have any thoughts on what you like or dislike about the site, please email Tom.
        His email address is on <a href="http://thomaslevine.com">this webpage</a>.
    </p>
    <h2>How to use this site</h2>
    <p>Scott Eustis, Thomas Levine, and Gulf Restoration Network interns are the main persons who enter data into the site. Everyone can view this entire site and see how the process works, but you need to be logged in to enter data.</p>
    <p>Changes to the data are sent to the server right away. If you aren't sure whether something has been saved, reload the page and check that it matches your expectations.</p>
    <p>If you need an account, email <a href="http://thomaslevine.com">Thomas Levine</a>.</p>
    <h2>Automatic data import</h2>
    <p>
        With this website, you can annotate notices of permit application, but you cannot add
        new notices; a computer does that automatically, and it also takes an initial guess
        at the contents of the public notice.
    </p>
    <p>
        The daily raw downloads are always saved. Archives of the
        <a href="http://www.mvn.usace.army.mil/Missions/Regulatory/PublicNotices.aspx">listings page</a>
        are <a href="https://github.com/tlevine/scott-listings-2">here</a>,
        and archives of the associated public notice and drawings documents are
        <a href="https://github.com/tlevine/scott-documents">here</a>.
        Archives of the
        <a href="http://www.mvn.usace.army.mil/ops/regulatory/publicnotices.asp?ShowLocationOrder=False">old listings page</a>
        are <a href="https://github.com/tlevine/scott-listings">here</a> and
        <a href="https://github.com/tlevine/mvn-www2-backup">here</a>.
    </p>
</div>
