<div class="span12">
    <p>Everyone can view this entire site, but you need to be logged in to enter data.</p>
    <p>Changes to the data are sent to the server right away. If it takes longer than a split second, a bar saying "Saving" will appear in the top of the screen.</p>
    <p>If you aren't sure whether something has been saved, reload the page and check that it matches your expectations.</p>
    <div id="map" style="height: 400px;"></div>
    <p>Each dot is a permit application. The area is 100 times the actual area.</p>
</div>
