<!-- Hack so the body doesn't get covered -->
<div style="height: 4em; width: 100%;"></div>

<div class="navbar navbar-inverse navbar-fixed-top main-menu">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Scott</a>
      <ul class="nav pull-left">
        <li><a href="#/applications">List</a></li>
      </ul>
      <div id="session"></div>
      <div id="saving" class="span2 active progress progress-success progress-striped pull-right" style="margin: 0.75em 0 0 0; height: 1.5em; display: none;">
        <div class="bar" style="width: 100%">Saving</div>
      </div>
    </div>
  </div>
</div>
