<!-- Hack so the body doesn't get covered -->
<div style="height: 4em; width: 100%;"></div>

<div class="navbar navbar-inverse navbar-fixed-top main-menu">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Scott</a>
      <ul class="nav pull-left">
        <li><a href="#/applications">List</a></li>
      </ul>
      <% if (session.loggedIn()) { %>
      <ul class="nav pull-right">
        <li><a href="#/logout">Log out</a></li>
      </ul>
      <% } else { %>
      <form class="navbar-form pull-right">
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
          <input type="submit" name="submit" value="Log in" />
      </form>
      <% } %>
    </div>
  </div>
</div>
